#scratchgames-content {
  height: auto;
  background-image: linear-gradient(0deg, #c3c3c3, rgb(246, 168, 57));
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
}
#scratch-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#scratch-projects iframe {
  border: 5px;
  border-color: lightgray;
  border-style: inset;
}

@media (max-width: 490px) {
  #scratch-projects .hidden-xs {
    display: none;
  }
}

@media (min-width: 490px) {
  #scratch-projects .xs-only {
    display: none;
  }
}