#todo-content {
    height: 100vh;
    background-image: linear-gradient(0deg, #c3c3c3, #660000);
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Inconsolata', monospace;
}

#todo-content .mainContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

#todo-content h1 {
    color: lightpink;
}

#todo-content form {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
}

@media (min-width: 576px) {
    #todo-content .mainContainer {
        width: 60%;
    }

    #todo-content form {
        padding: 3%;
    }
}

#todo-content input[type="text"] {
    outline: 0;
    border: none;
    font-size: 1rem;
    color: #666666;
    flex-grow: 1;
    width: 80%;
}

#todo-content button {
    border-radius: 5px;
    background-color: white;
    outline: 0;
    border: 1px solid #660000;
}

#todo-content button:hover {
    background-color: lightpink;
}

#todo-content #todo-list {
    background-color: lightpink;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px, 25px;
    padding: 5px 15px;
    height: 100%;
}

#todo-content ul {
    padding-left: 0px;
    list-style: none;
}

#todo-content li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #660000;
    padding: 10px 0;
    color: #595959;
}

#todo-content .todoItem {
    flex-grow: 1; /* Text breiter als Buttons*/
}

#todo-content .clearList {
    display: flex;
    justify-content: flex-end;
    padding: 10px 3px;
    cursor: pointer;
    font-size: 0.9rem;
    color: #660000;
}

#todo-content .clearList:hover {
    color: lightcoral;
}

#todo-content .todo-list-item {
    transition: all 0.3s ease-out;
}

#todo-content .todo-list-item-fall {
    transform: translateY(12rem) rotateZ(10deg);
    opacity: 0; 
}
