* {
    font-family: 'Palanquin', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 40px;
}

button {
    border: 1px solid black;
    border-radius: 50%;
    color: gray;
    border-color: gray;
    background-color: #c0c0c0;
}

.active {
    text-align: center;
    text-emphasis: bold;
    color: purple;
    border-color: purple;
    background-color: lightpink;
}

td {
    text-align: center;
}

.overview {
    /*align: center;*/
    /*border-left: .5px solid purple; /*gray;*/
    border: .5px solid purple; /*gray;*/
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
}

/* table {
    border: 2px solid blue;
} */

th, td {
    /* border: 1px solid red; */
    width: 60px;
    /* width: min-content; */
}

th {
    border-bottom: 2px solid black;
}

.beispiel {
    background-color: lavender;
    padding: 10px;
}

.aufgabe {

    background-color: lavenderblush;
    margin-top: 24px;
    padding: 10px;
    padding-top: 1px;
}

.emoji {
    font-size: xx-large;
}

h4 {
    color: purple;
    margin-top: 0px;
}

#calculator {
    border: 2px solid purple;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    /* flex-basis: 75%; */
}

#calculator-table {
    
}
